
img{
    max-width: 100%;
    height: auto;   
}
.single-country{
    margin-bottom: 30px;
    border: 1px solid #ccc;
    padding: 20px 20px 30px;
    border-radius: 20px;
}
.single-country img{
    height: 270px;
    object-fit: cover;
    width: 100%;
    margin-bottom: 15px;
}